# Welcome to the new working notebook! 

### **Table of Contents**
* [new imports](#new-imports)
* [Read in the data](#read-in-the-data)
* [Correct they datatypes here](#correct-they-datatypes-here)
* [Data Cleaning](#data-cleaning)
* [Explore Here!](#explore-here!)
* [Your Cool Plots!](#your-cool-plots!)

# new imports

In [7]:
import pandas as pd
import openpyxl
import sys
import os

# Add the parent directory of the notebook to sys.path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..')))

from cleaning import DemographicsCleaning

# Read in the data

In [9]:
df = pd.read_excel('../../data/All demographics and programs.xlsx')

# Correct they datatypes here

- Almost everything is an object
- Bonus points if you only import in the columns that we need. 

[Link to more info](https://github.com/dmorton714/CY_post_grad_data/blob/main/data_projects/4_speed/2_data.ipynb)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32230 entries, 0 to 32229
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Auto Id                    32230 non-null  object
 1   First Name                 32230 non-null  object
 2   Last Name                  32230 non-null  object
 3   Gender                     31621 non-null  object
 4   Race                       31121 non-null  object
 5   Ethnicity Hispanic/Latino  0 non-null      float64
 6   Outcome                    15852 non-null  object
 7   Veteran                    19955 non-null  object
 8   Ex-Offender                1 non-null      object
 9   Justice Involved           10235 non-null  object
 10  Single Parent              1 non-null      object
 11  Program: Program Name      32230 non-null  object
dtypes: float64(1), object(11)
memory usage: 3.0+ MB

# Data Cleaning

In [10]:
demographics_clean = DemographicsCleaning.clean(df)
demographics_clean.head()

,Auto Id,Gender,Veteran,Justice Involved,Race_1,Race_2,Race_3,Race_4
0,202107-1206,Male,No,NaN,Black or African American,None,None,None
3,202108-5167,Male,No,No,Asian,None,None,None
4,202108-5171,Male,NaN,NaN,Black or African American,None,None,None
5,202108-5172,Female,NaN,NaN,White,None,None,None
6,202107-1208,Female,NaN,NaN,Black or African American,None,None,None

# Explore Here!

# Your Cool Plots!

In [12]:
from toc import generate_toc_from_notebook

notebook_path = 'cleaning.ipynb'
generate_toc_from_notebook(notebook_path)

--- âœ… Copy the Markdown below and paste it into a new markdown cell ---

### **Table of Contents**
* [new imports](#new-imports)
* [Read in the data](#read-in-the-data)
* [Correct they datatypes here](#correct-they-datatypes-here)
* [Data Cleaning](#data-cleaning)
* [Explore Here!](#explore-here!)
* [Your Cool Plots!](#your-cool-plots!)