#### Best Practice

Be sure to set up a virtual environment as there were lots of imports in this project
| Command | Linux/Mac | GitBash |
| ------- | --------- | ------- |
| Create  | python3 -m venv venv | python -m venv venv |
| Activate | source venv/bin/activate | source venv/Scripts/activate |
| Install | pip install -r requirements.txt or pip install packages | pip install -r requirements.txt or pip install packages|
| Deactivate | deactivate | deactivate |

## WORC Employment

1. Import libraries
2. Read in the data

In [6]:
import pandas as pd

In [7]:
import os

In [11]:
# Read in file

file_path = "../../data/WORC_Employment.xlsx"

In [13]:
# read in file
worc = pd.read_excel(file_path)

In [14]:
# review top 5
worc.head()

,Auto Id,Full Name,Email,EnrollmentId,Employment History Name,Company Name,Job Title,Start Date,Program: Program Name,Mailing City,Mailing Zip/Postal Code,ATP Placement Type,Salary,Gender,Race,KY Region
0,202203-7853,name name,name@gmail.com,Enrollment-6442,EH-001676,Appalachian Regional Healthcare,Network Coordinator,2023-10-09,Code Kentucky 22-23,Lost Creek,41348,First ATP Placement - New to Tech,16.00,Male,White,SOAR
1,202207-8826,name name,name@gmail.com,Enrollment-6188,EH-001824,MCHC - Mountain Comprehensive Health Corporation,Junior IT systems administrator,2024-02-12,Code Kentucky 22-23,Greys Knob,40808,First ATP Placement - New to Tech,18.00,Female,White,SOAR
2,202306-12150,name name,name@gmail.com,Enrollment-7740,EH-002555,University of Kentucky,Technical Support Specialist II,2024-04-01,Code Kentucky 23-24,Richmond,40475,First ATP Placement - Promotion,25.00,Male,White,SOAR
3,202207-9034,name name,name@gmail.com,Enrollment-6146,EH-002207,Childers oil company,Web developer,2024-04-23,Code Kentucky 22-23,Hazard,41701,First ATP Placement - New to Tech,26.92,Male,White,SOAR
4,202306-12149,name name,name@gmail.com,Enrollment-7701,EH-002294,Code:You,Student Community Coordinator,2024-05-20,Code Kentucky 23-24,Eubank,42567,First ATP Placement - New to Tech,25.48,Female,White,SOAR

In [15]:
worc.shape

(25, 16)

### Review of data  

1. Check for unique values in name, email, ATP Placement Type column - to determine if necessary to keep
2. Check for null values - remove

In [16]:
def unique(df, column='column'):
    """
    Check for unique values in a specified DataFrame column.

    Parameters:
    df: The DataFrame that contains the data.
    column: The name of the column to check for uniqueness.

    Returns:
    numpy.ndarray: An array of unique values in the specified column.
    """
    unique_values = df[column].unique()
    print(f"Unique values in '{column}': {unique_values}")
    
    return unique_values

In [17]:
unique(worc,'Full Name')
unique(worc, 'Email')
unique(worc, 'ATP Placement Type')

Unique values in 'Full Name': ['name name']
Unique values in 'Email': ['name@gmail.com']
Unique values in 'ATP Placement Type': ['First ATP Placement - New to Tech' 'First ATP Placement - Promotion'
 'First ATP Placement - Already in Tech']

array(['First ATP Placement - New to Tech',
       'First ATP Placement - Promotion',
       'First ATP Placement - Already in Tech'], dtype=object)

In [18]:
# Check for isnull
worc.isnull().any().any()

np.True_

In [19]:
# Checking where isnull values are located
worc.isnull().sum()

Auto Id                    0
Full Name                  0
Email                      0
EnrollmentId               0
Employment History Name    0
Company Name               0
Job Title                  0
Start Date                 0
Program: Program Name      0
Mailing City               0
Mailing Zip/Postal Code    0
ATP Placement Type         0
Salary                     3
Gender                     0
Race                       0
KY Region                  0
dtype: int64

# Which Columns to Drop
- Even though there are no unique values for name and email will keep those items as requested
- Will drop na/null as well

In [20]:
# Dropping multiple columns based including those with no unique values as well as those that seem unnecessary
cols_to_drop = ['Auto Id','Employment History Name']

worc_cols_dropped = worc.drop(columns=cols_to_drop, axis=1)

In [21]:
# worc_cols_dropped_nulls = worc_cols_dropped.dropna()

In [23]:
worc_cleaned = worc_cols_dropped

In [24]:
worc_cleaned.shape

(25, 14)

In [25]:
worc_cleaned.head()

,Full Name,Email,EnrollmentId,Company Name,Job Title,Start Date,Program: Program Name,Mailing City,Mailing Zip/Postal Code,ATP Placement Type,Salary,Gender,Race,KY Region
0,name name,name@gmail.com,Enrollment-6442,Appalachian Regional Healthcare,Network Coordinator,2023-10-09,Code Kentucky 22-23,Lost Creek,41348,First ATP Placement - New to Tech,16.00,Male,White,SOAR
1,name name,name@gmail.com,Enrollment-6188,MCHC - Mountain Comprehensive Health Corporation,Junior IT systems administrator,2024-02-12,Code Kentucky 22-23,Greys Knob,40808,First ATP Placement - New to Tech,18.00,Female,White,SOAR
2,name name,name@gmail.com,Enrollment-7740,University of Kentucky,Technical Support Specialist II,2024-04-01,Code Kentucky 23-24,Richmond,40475,First ATP Placement - Promotion,25.00,Male,White,SOAR
3,name name,name@gmail.com,Enrollment-6146,Childers oil company,Web developer,2024-04-23,Code Kentucky 22-23,Hazard,41701,First ATP Placement - New to Tech,26.92,Male,White,SOAR
4,name name,name@gmail.com,Enrollment-7701,Code:You,Student Community Coordinator,2024-05-20,Code Kentucky 23-24,Eubank,42567,First ATP Placement - New to Tech,25.48,Female,White,SOAR

In [26]:
worc_cleaned.to_excel("worc_employment.xlsx", index=False)