## Cleaning Enrollments/Pathways

In [17]:
# importing the necessary modules
import pandas as pd
import numpy as np
import plotly.express as px

In [18]:
df = pd.read_excel('data/ARC Application.xlsx')

df.head()

,KY Region,Contact: Auto Id,Contact: Unique ID SSN,Contact: SSN Opt Out,Contact: Mailing State/Province,Contact: County,Contact: Mailing Zip/Postal Code,Contact: Birthdate,Contact: Gender,Disability,...,Displaced Homemaker,Spouse of Armed Forces Reduced Income,Loss of Family Support,Seasonal farm worker?,Contact: First Name,Contact: Last Name,Status,Date Completed,Assessment: Created Date,Contact: Approval Status
0,SOAR,202109-5224,NaN,0,KY,Knox,40906,1981-10-25,Female,No,...,NaN,NaN,NaN,NaN,name,name,Accepted - Prework Complete,2021-08-24,2021-09-10,NaN
1,SOAR,202109-5230,NaN,0,KY,Perry,41773,2000-10-28,Prefer not to say,No,...,NaN,NaN,NaN,NaN,name,name,Accepted - Prework Complete,2021-08-25,2021-09-10,NaN
2,SOAR,202109-5233,NaN,0,KY,Morgan,41472,1986-11-05,Male,Yes,...,NaN,NaN,NaN,NaN,name,name,Accepted - Prework Complete,2021-08-24,2021-09-10,NaN
3,SOAR,202109-5236,NaN,0,KY,Floyd,41669,1978-01-22,Female,No,...,Yes,No,No,No,name,name,Accepted - Prework Complete,2021-08-24,2021-09-10,NaN
4,SOAR,202109-5237,NaN,0,KY,Knox,40906,1992-04-16,Male,No,...,NaN,NaN,NaN,NaN,name,name,Accepted - Prework Complete,2021-08-24,2021-09-10,NaN

#### Preliminary Thoughts
There are a lot of columns and empty values in this at first glance.  I'm not wholly sure what we're supposed to do (8:30 AM, 7/18) but will jump into the weeds to find out.

In [19]:
check_cols = df.columns

print(check_cols)

Index(['KY Region', 'Contact: Auto Id', 'Contact: Unique ID SSN',
       'Contact: SSN Opt Out', 'Contact: Mailing State/Province',
       'Contact: County', 'Contact: Mailing Zip/Postal Code',
       'Contact: Birthdate', 'Contact: Gender', 'Disability',
       'Primary Disability', 'Contact: Race', 'Contact: Veteran',
       'Employment Status', 'Unemployment Insurance', 'Long-term unemployment',
       'Highest level of education completed', 'Enrolled in school?', 'TANF',
       'Within Two Years of Exhausting TANF?', 'SSI', 'SNAP', 'Homeless',
       'What is your housing situation?', 'Justice Involvement', 'Low Income',
       'English Language Learner', 'Comfortably Read and Write in English?',
       'Cultural barriers?', 'Single Parent', 'Displaced Homemaker',
       'Spouse of Armed Forces Reduced Income', 'Loss of Family Support',
       'Seasonal farm worker?', 'Contact: First Name', 'Contact: Last Name',
       'Status', 'Date Completed', 'Assessment: Created Date',
       'Contact: Approval Status'],
      dtype='object')

In [20]:
df.count()

KY Region                                 2476
Contact: Auto Id                          2476
Contact: Unique ID SSN                       0
Contact: SSN Opt Out                      2476
Contact: Mailing State/Province           2476
Contact: County                           2475
Contact: Mailing Zip/Postal Code          2476
Contact: Birthdate                        2476
Contact: Gender                           2476
Disability                                2475
Primary Disability                         214
Contact: Race                             2476
Contact: Veteran                          2475
Employment Status                         2475
Unemployment Insurance                    2476
Long-term unemployment                     283
Highest level of education completed      2475
Enrolled in school?                       2475
TANF                                      2476
Within Two Years of Exhausting TANF?       281
SSI                                       2476
SNAP                                      2476
Homeless                                  1314
What is your housing situation?           2451
Justice Involvement                       2453
Low Income                                2475
English Language Learner                  2431
Comfortably Read and Write in English?     283
Cultural barriers?                         283
Single Parent                              282
Displaced Homemaker                        283
Spouse of Armed Forces Reduced Income       82
Loss of Family Support                      81
Seasonal farm worker?                      282
Contact: First Name                       2476
Contact: Last Name                        2476
Status                                    1706
Date Completed                             788
Assessment: Created Date                  2476
Contact: Approval Status                     0
dtype: int64

In [21]:
def df_cleaning(df: pd.DataFrame) -> pd.DataFrame:
    columnsToRemove = [ # dropping columns of little consequence to any metric we might be exploring
        'Contact: Unique ID SSN',
	    'Contact: SSN Opt Out',
	    'Contact: Mailing State/Province', # Everyone of the results in this column are from KY, make note
	    'Primary Disability',
	    'Contact: First Name',
	    'Contact: Last Name',
	    'Assessment: Created Date',
    ]
    df = df.drop(columnsToRemove, axis=1)

    df = df.rename(columns={
        "Contact: Auto Id": "Auto ID",
        "Contact: County": "County",
        "Contact: Birthdate": "Birthdate",
        "Contact: Gender": "Gender",
        "Disability": "Disabled",
        "Contact: Race": "Race",
        "Contact: Veteran": "Veteran"
    })

    min_pct = 0.01 # giving a minimum percentage value
    df = df.dropna(axis=1, thresh=int(min_pct * len(df))) # precautionary 'thresh'old for relevant data or lack thereof
    df = df.drop_duplicates(subset=["Auto ID", "Date Completed"], keep="first", ignore_index=True)

    # next week: reach out and start picking the brains of data team

    return(df)

## **Still in Progress**