In [1]:
import pandas as pd
import numpy as np

from datetime import datetime, date # for our 'age' column

## Demographics for Code:You

---

#### Overview
There are many demographics in the files supplied.  From those on SNAP benefits to many unique individual groups of people who've applied to join Code:You.  This effort will attempt to lay bare all of the intricacies of those who've both completed and/or applied to Code:You.  This is not the final draft, nor a complete list.  It's very much open to tweaks and changes by all who may be concerned.
    
All data cleaning was done prior to this file, and you can find that, the methdology, and other specifics in the files 'cleaning_applications' and 'cleaning_demo_and_projects' notebooks.  Sorry for the misnaming of the latter.

---

#### Dataframe Loading and Exploration:

In [2]:
applicants_df = pd.read_csv("data/cleaned/cleaned applications.csv") # loading dataset
employment_df = pd.read_csv("data/cleaned/cleaned employment.csv")
demo_and_program_df = pd.read_csv("data/cleaned/cleaned demographics_and_programs.csv")
enrollment_df = pd.read_csv("data/cleaned/cleaned enrollment.csv")

In [3]:
applicants_df # displaying

,Auto ID,State,County,Birthdate,Gender,Disability,Primary Disability,Race,Veteran,Employment Status,...,Justice Involvement,Low Income,English Language Learner,Comfortably Read and Write in English?,Cultural barriers?,Single Parent,Displaced Homemaker,Spouse of Armed Forces Reduced Income,Loss of Family Support,Date Completed
0,202109-5224,Kentucky,Knox,1981-10-25,Female,No,N/A - No Disability,White,No,Employed full-time,...,Not Provided,No,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,2021-08-24 00:00:00
1,202109-5230,Kentucky,Perry,2000-10-28,Prefer not to say,No,Not Provided,Prefer Not To Say,Not Provided,"Unemployed, actively seeking work",...,No,Yes,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,2021-08-25 00:00:00
2,202109-5233,Kentucky,Morgan,1986-11-05,Male,Yes,Not Provided,White,No,"Unemployed, actively seeking work",...,No,Yes,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,2021-08-24 00:00:00
3,202109-5236,Kentucky,Floyd,1978-01-22,Female,No,N/A - No Disability,White,No,Employed full-time,...,No,Yes,Not Provided,No,No,Yes,Yes,No,No,2021-08-24 00:00:00
4,202109-5237,Kentucky,Knox,1992-04-16,Male,No,Not Provided,White,No,Employed full-time,...,No,Yes,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,2021-08-24 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2250,202506-23902,Kentucky,Floyd,1979-07-19,Male,No,Not Provided,White,No,Employed full-time,...,No,No,No,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided
2251,202506-23914,Kentucky,Pulaski,1991-06-03,Female,Yes,Not Provided,White,No,"Unemployed, actively seeking work",...,No,Yes,No,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided
2252,202506-23927,Kentucky,Perry,1989-06-12,Male,No,Not Provided,White,No,Employed full-time,...,No,No,No,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided
2253,202506-23959,Kentucky,Laurel,1949-08-19,Female,Yes,Not Provided,White,No,"Unemployed, actively seeking work",...,No,No,No,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided
2254,202506-23960,Kentucky,Harlan,1992-08-01,Female,No,Not Provided,White,No,Employed full-time,...,Yes,Yes,No,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided

In [4]:
employment_df

,Auto ID,Job Title,Start Date,ATP Placement Type,Salary
0,202203-7853,Network Coordinator,2023-10-09,First ATP Placement - New to Tech,16.0
1,202207-8826,Junior IT systems administrator,2024-02-12,First ATP Placement - New to Tech,18.0
2,202306-12150,Technical Support Specialist II,2024-04-01,First ATP Placement - Promotion,25.0
3,202207-9034,Web developer,2024-04-23,First ATP Placement - New to Tech,26.92
4,202306-12149,Student Community Coordinator,2024-05-20,First ATP Placement - New to Tech,25.48
5,202306-12234,Customer Success Agent,2024-05-20,First ATP Placement - New to Tech,Not Provided
6,202402-14719,Digital Marketer,2024-06-01,First ATP Placement - Already in Tech,18.0
7,202306-12508,EKY Workforce Analyst,2024-07-31,First ATP Placement - New to Tech,19.23
8,202308-13071,Media Research Analyst,2024-08-01,First ATP Placement - Promotion,Not Provided
9,202402-14832,PC Technician,2024-08-09,First ATP Placement - New to Tech,28.0
10,202402-14804,"Coordinator, Orthotics and Prosthetics Technology",2024-08-16,First ATP Placement - Promotion,26.44
11,202306-12487,Remote Customer Service Representative,2024-08-19,First ATP Placement - New to Tech,21.0
12,202306-12365,Customer Service Representative,2024-09-09,First ATP Placement - New to Tech,14.0
13,202310-13680,Financial Analyst,2024-09-15,First ATP Placement - New to Tech,Not Provided
14,202307-12774,Software Developer Intern,2024-10-14,First ATP Placement - New to Tech,22.0
15,202307-12657,Training Coordinator (Part-Time),2024-12-02,First ATP Placement - Already in Tech,22.0
16,202403-14970,Clinical Systems Analyst,2024-12-02,First ATP Placement - New to Tech,32.21
17,202310-13705,Junior Analyst,2025-01-13,First ATP Placement - New to Tech,15.0
18,202406-16017,Customer Service Representative,2025-03-24,First ATP Placement - New to Tech,15.0
19,202306-12614,Customer Service Representative,2025-04-15,First ATP Placement - New to Tech,13.5
20,202410-17818,Remote Telephone Service Representative,2025-04-21,First ATP Placement - New to Tech,23.42
21,202306-12312,Logistics Technology & Training Specialist,2025-05-03,First ATP Placement - Promotion,15.0
22,202412-19753,Office Manager,2025-05-19,First ATP Placement - New to Tech,18.0
23,202406-15679,Generative AI Developer,2025-05-21,First ATP Placement - New to Tech,60000.0
24,202412-19675,Technology Associate,2025-06-01,First ATP Placement - Already in Tech,23.83

In [5]:
demo_and_program_df

,Auto ID,Gender,Race,Outcome,Veteran,Justice Involved,Program Name
0,202107-1206,Male,Black or African American,Not Provided,No,Not Provided,Reimage 21-22
1,202108-5167,Male,Asian,Successfully Completed,No,No,Tech Louisville 21-22
2,202108-5171,Male,Black or African American,Not Provided,Not Provided,Not Provided,Tech Louisville 21-22
3,202108-5172,Female,White,Not Provided,Not Provided,Not Provided,Reimage 21-22
4,202107-1208,Female,Black or African American,Not Provided,Not Provided,Not Provided,Reimage 21-22
...,...,...,...,...,...,...,...
13670,202506-23973,Female,White,Not Provided,Not Provided,Not Provided,Connecting Young Adults 24-25
13671,202506-23877,Female,Black or African American,Not Provided,Not Provided,Not Provided,Connecting Young Adults 24-25
13672,202506-23967,Male,White,Not Provided,Not Provided,Not Provided,Connecting Young Adults 24-25
13673,202506-23976,Female,White,Not Provided,Not Provided,Not Provided,Connecting Young Adults 24-25
13674,202505-23270,Male,White,Not Provided,Not Provided,Not Provided,Connecting Young Adults 24-25

In [6]:
enrollment_df

,Auto ID,KY Region,Service,Outcome
0,202109-5224,SOAR,Software Development 2,Successfully Completed
1,202109-5233,SOAR,Web Development 2,Successfully Completed
2,202109-5237,SOAR,Data Analytics 2,Successfully Completed
3,202109-5243,SOAR,Software Development 2,Successfully Completed
4,202109-5243,SOAR,Data Analytics 2,Successfully Completed
...,...,...,...,...
1247,202303-11035,SOAR,Intro to Programming Core,Partially Completed
1248,202503-21188,SOAR,Intro to Programming Core,Did Not Complete
1249,202501-19999,SOAR,Intro to Programming Core,Partially Completed
1250,202503-20923,SOAR,Intro to Programming Core,Did Not Complete
1251,202408-16568,SOAR,Intro to Programming Core,Did Not Complete

In [7]:
employed_demo_df = pd.merge(demo_and_program_df, employment_df, on="Auto ID", how="inner")
full_df = pd.merge(employed_demo_df, applicants_df, on="Auto ID", how="inner")

full_df

,Auto ID,Gender_x,Race_x,Outcome,Veteran_x,Justice Involved,Program Name,Job Title,Start Date,ATP Placement Type,...,Justice Involvement,Low Income,English Language Learner,Comfortably Read and Write in English?,Cultural barriers?,Single Parent,Displaced Homemaker,Spouse of Armed Forces Reduced Income,Loss of Family Support,Date Completed
0,202207-9034,Male,White,Successfully Completed,No,No,Code Kentucky 22-23,Web developer,2024-04-23,First ATP Placement - New to Tech,...,No,No,No,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,2022-08-08 00:00:00
1,202207-8826,Female,White,Successfully Completed,No,No,Code Kentucky 22-23,Junior IT systems administrator,2024-02-12,First ATP Placement - New to Tech,...,No,Yes,No,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,2022-08-03 00:00:00
2,202203-7853,Male,White,Successfully Completed,No,No,Code Kentucky 22-23,Network Coordinator,2023-10-09,First ATP Placement - New to Tech,...,No,No,No,No,No,No,No,Not Provided,Not Provided,2022-03-01 00:00:00
3,202203-7853,Male,White,Successfully Completed,No,No,Code Kentucky 22-23,Network Coordinator,2023-10-09,First ATP Placement - New to Tech,...,No,No,No,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,2022-12-05 00:00:00
4,202203-7853,Male,White,Successfully Completed,No,No,Code Kentucky 22-23,Network Coordinator,2023-10-09,First ATP Placement - New to Tech,...,No,No,No,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,2024-05-02 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,202306-12508,Male,White,Not Provided,No,No,Code Kentucky 24-25,EKY Workforce Analyst,2024-07-31,First ATP Placement - New to Tech,...,No,Yes,No,No,No,Yes,No,Not Provided,Not Provided,Not Provided
82,202306-12508,Male,White,Not Provided,No,No,Code Kentucky 24-25,EKY Workforce Analyst,2024-07-31,First ATP Placement - New to Tech,...,No,Yes,No,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,2024-07-18 00:00:00
83,202410-17818,Male,White,Did Not Complete,No,No,Code Kentucky 24-25,Remote Telephone Service Representative,2025-04-21,First ATP Placement - New to Tech,...,No,Yes,No,No,No,No,No,Not Provided,Not Provided,2024-12-09 00:00:00
84,202412-19753,Female,White,Did Not Complete,No,No,Code Kentucky 24-25,Office Manager,2025-05-19,First ATP Placement - New to Tech,...,No,No,No,No,No,No,No,Not Provided,Not Provided,2024-12-30 00:00:00
85,202412-19753,Female,White,Not Provided,No,No,Code Kentucky 24-25,Office Manager,2025-05-19,First ATP Placement - New to Tech,...,No,No,No,No,No,No,No,Not Provided,Not Provided,2024-12-30 00:00:00

##### Weeding out similar rows with a priority list

In [8]:
# heirarchy of what we most want, 0 is what we want
priority = {
    "Successfully Completed": 0,
    "Did Not Complete": 1,
    "Not Provided": 2
}

# creating a new column to map on the ranks of 'priority'
full_df['outcome_rank'] = full_df["Outcome"].map(priority)

# sorting the priorties from 0 to 2
df_sorted = full_df.sort_values(["Auto ID", "outcome_rank"])

# removing whatever is listed first
best_per_id = df_sorted.drop_duplicates(subset=["Auto ID"], keep='first')

# dropping the extra column we used
best_per_id = best_per_id.drop(columns="outcome_rank")

best_per_id

,Auto ID,Gender_x,Race_x,Outcome,Veteran_x,Justice Involved,Program Name,Job Title,Start Date,ATP Placement Type,...,Justice Involvement,Low Income,English Language Learner,Comfortably Read and Write in English?,Cultural barriers?,Single Parent,Displaced Homemaker,Spouse of Armed Forces Reduced Income,Loss of Family Support,Date Completed
2,202203-7853,Male,White,Successfully Completed,No,No,Code Kentucky 22-23,Network Coordinator,2023-10-09,First ATP Placement - New to Tech,...,No,No,No,No,No,No,No,Not Provided,Not Provided,2022-03-01 00:00:00
1,202207-8826,Female,White,Successfully Completed,No,No,Code Kentucky 22-23,Junior IT systems administrator,2024-02-12,First ATP Placement - New to Tech,...,No,Yes,No,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,2022-08-03 00:00:00
0,202207-9034,Male,White,Successfully Completed,No,No,Code Kentucky 22-23,Web developer,2024-04-23,First ATP Placement - New to Tech,...,No,No,No,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,2022-08-08 00:00:00
9,202306-12149,Female,White,Successfully Completed,No,No,Code Kentucky 23-24,Student Community Coordinator,2024-05-20,First ATP Placement - New to Tech,...,No,No,No,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,2023-07-13 00:00:00
11,202306-12150,Male,White,Successfully Completed,No,No,Code Kentucky 23-24,Technical Support Specialist II,2024-04-01,First ATP Placement - Promotion,...,No,Yes,No,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,2023-07-11 00:00:00
12,202306-12234,Female,White,Successfully Completed,No,No,Code Kentucky 23-24,Customer Success Agent,2024-05-20,First ATP Placement - New to Tech,...,No,Yes,No,No,No,No,No,Not Provided,Not Provided,2023-07-11 00:00:00
55,202306-12312,Male,White,Successfully Completed,No,No,Code Kentucky 24-25,Logistics Technology & Training Specialist,2025-05-03,First ATP Placement - Promotion,...,No,Yes,No,No,No,No,No,Not Provided,Not Provided,Not Provided
22,202306-12365,Female,White,Successfully Completed,No,No,Code Kentucky 23-24,Customer Service Representative,2024-09-09,First ATP Placement - New to Tech,...,No,No,No,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,2023-11-16 00:00:00
30,202306-12487,Female,White,Successfully Completed,No,Yes,Code Kentucky 23-24,Remote Customer Service Representative,2024-08-19,First ATP Placement - New to Tech,...,Yes,Yes,No,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,2023-11-16 00:00:00
53,202306-12508,Male,White,Successfully Completed,No,No,Code Kentucky 24-25,EKY Workforce Analyst,2024-07-31,First ATP Placement - New to Tech,...,No,Yes,No,No,No,Yes,No,Not Provided,Not Provided,Not Provided
17,202306-12614,Female,White,Successfully Completed,No,No,Code Kentucky 23-24,Customer Service Representative,2025-04-15,First ATP Placement - New to Tech,...,No,Yes,No,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,2023-11-16 00:00:00
18,202307-12657,Male,White,Successfully Completed,No,No,Code Kentucky 23-24,Training Coordinator (Part-Time),2024-12-02,First ATP Placement - Already in Tech,...,No,Yes,No,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,2023-11-16 00:00:00
16,202307-12774,Male,White,Successfully Completed,No,No,Code Kentucky 23-24,Software Developer Intern,2024-10-14,First ATP Placement - New to Tech,...,No,Yes,No,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,2023-11-16 00:00:00
24,202308-13071,Male,White,Did Not Complete,No,No,Code Kentucky 23-24,Media Research Analyst,2024-08-01,First ATP Placement - Promotion,...,No,Yes,No,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided
15,202310-13680,Female,Asian,Successfully Completed,No,No,Code Kentucky 23-24,Financial Analyst,2024-09-15,First ATP Placement - New to Tech,...,No,No,No,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,2023-11-16 00:00:00
20,202310-13705,Male,Prefer Not To Say,Successfully Completed,No,No,Code Kentucky 23-24,Junior Analyst,2025-01-13,First ATP Placement - New to Tech,...,No,No,No,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided
26,202402-14719,Female,White,Successfully Completed,No,No,Code Kentucky 23-24,Digital Marketer,2024-06-01,First ATP Placement - Already in Tech,...,No,Yes,No,No,No,No,No,Not Provided,Not Provided,2024-04-22 00:00:00
23,202402-14804,Female,Black or African American; White,Successfully Completed,Yes,No,Code Kentucky 23-24,"Coordinator, Orthotics and Prosthetics Technology",2024-08-16,First ATP Placement - Promotion,...,No,No,No,No,No,No,No,Not Provided,Not Provided,2024-04-22 00:00:00
27,202402-14832,Male,White,Successfully Completed,Yes,No,Code Kentucky 23-24,PC Technician,2024-08-09,First ATP Placement - New to Tech,...,No,No,No,No,No,No,No,Not Provided,Not Provided,2024-04-22 00:00:00
29,202403-14970,Female,White,Successfully Completed,No,No,Code Kentucky 23-24,Clinical Systems Analyst,2024-12-02,First ATP Placement - New to Tech,...,No,No,No,No,No,No,No,Not Provided,Not Provided,2024-04-30 00:00:00
51,202406-15679,Male,White,Successfully Completed,No,No,Code Kentucky 24-25,Generative AI Developer,2025-05-21,First ATP Placement - New to Tech,...,No,No,No,No,No,No,No,Not Provided,Not Provided,2024-07-18 00:00:00
57,202406-16017,Male,White,Successfully Completed,No,No,Code Kentucky 24-25,Customer Service Representative,2025-03-24,First ATP Placement - New to Tech,...,No,Yes,No,No,No,No,Yes,No,No,2024-07-18 00:00:00
71,202410-17818,Male,White,Successfully Completed,No,No,Code Kentucky 24-25,Remote Telephone Service Representative,2025-04-21,First ATP Placement - New to Tech,...,No,Yes,No,No,No,No,No,Not Provided,Not Provided,2024-12-09 00:00:00
72,202412-19675,Female,White,Successfully Completed,No,No,Code Kentucky 24-25,Technology Associate,2025-06-01,First ATP Placement - Already in Tech,...,No,Yes,No,No,No,No,No,Not Provided,Not Provided,2024-12-30 00:00:00
70,202412-19753,Female,White,Successfully Completed,No,No,Code Kentucky 24-25,Office Manager,2025-05-19,First ATP Placement - New to Tech,...,No,No,No,No,No,No,No,Not Provided,Not Provided,2024-12-30 00:00:00

##### Organizing

In [9]:
# drop Race_y, Gender_y, Veteran_y
dropped_df = best_per_id.drop(columns=["Race_y", "Gender_y", "Veteran_y"])

# rename the remainders
fixed_df = dropped_df.rename(columns={
    "Race_x": "Race",
    "Gender_x": "Gender",
    "Veteran_x": "Veteran",
    }
)

##### Fix 'Birthdate' to show age

In [10]:
# creating the function to figure out their age
def age(born):
    born = datetime.strptime(born, "%Y-%m-%d").date()
    today = date.today()
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

fixed_df["Birthdate"] = fixed_df["Birthdate"].apply(age)

fixed_df.rename(columns={
    "Birthdate": "Age"
})

display(fixed_df)

,Auto ID,Gender,Race,Outcome,Veteran,Justice Involved,Program Name,Job Title,Start Date,ATP Placement Type,...,Justice Involvement,Low Income,English Language Learner,Comfortably Read and Write in English?,Cultural barriers?,Single Parent,Displaced Homemaker,Spouse of Armed Forces Reduced Income,Loss of Family Support,Date Completed
2,202203-7853,Male,White,Successfully Completed,No,No,Code Kentucky 22-23,Network Coordinator,2023-10-09,First ATP Placement - New to Tech,...,No,No,No,No,No,No,No,Not Provided,Not Provided,2022-03-01 00:00:00
1,202207-8826,Female,White,Successfully Completed,No,No,Code Kentucky 22-23,Junior IT systems administrator,2024-02-12,First ATP Placement - New to Tech,...,No,Yes,No,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,2022-08-03 00:00:00
0,202207-9034,Male,White,Successfully Completed,No,No,Code Kentucky 22-23,Web developer,2024-04-23,First ATP Placement - New to Tech,...,No,No,No,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,2022-08-08 00:00:00
9,202306-12149,Female,White,Successfully Completed,No,No,Code Kentucky 23-24,Student Community Coordinator,2024-05-20,First ATP Placement - New to Tech,...,No,No,No,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,2023-07-13 00:00:00
11,202306-12150,Male,White,Successfully Completed,No,No,Code Kentucky 23-24,Technical Support Specialist II,2024-04-01,First ATP Placement - Promotion,...,No,Yes,No,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,2023-07-11 00:00:00
12,202306-12234,Female,White,Successfully Completed,No,No,Code Kentucky 23-24,Customer Success Agent,2024-05-20,First ATP Placement - New to Tech,...,No,Yes,No,No,No,No,No,Not Provided,Not Provided,2023-07-11 00:00:00
55,202306-12312,Male,White,Successfully Completed,No,No,Code Kentucky 24-25,Logistics Technology & Training Specialist,2025-05-03,First ATP Placement - Promotion,...,No,Yes,No,No,No,No,No,Not Provided,Not Provided,Not Provided
22,202306-12365,Female,White,Successfully Completed,No,No,Code Kentucky 23-24,Customer Service Representative,2024-09-09,First ATP Placement - New to Tech,...,No,No,No,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,2023-11-16 00:00:00
30,202306-12487,Female,White,Successfully Completed,No,Yes,Code Kentucky 23-24,Remote Customer Service Representative,2024-08-19,First ATP Placement - New to Tech,...,Yes,Yes,No,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,2023-11-16 00:00:00
53,202306-12508,Male,White,Successfully Completed,No,No,Code Kentucky 24-25,EKY Workforce Analyst,2024-07-31,First ATP Placement - New to Tech,...,No,Yes,No,No,No,Yes,No,Not Provided,Not Provided,Not Provided
17,202306-12614,Female,White,Successfully Completed,No,No,Code Kentucky 23-24,Customer Service Representative,2025-04-15,First ATP Placement - New to Tech,...,No,Yes,No,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,2023-11-16 00:00:00
18,202307-12657,Male,White,Successfully Completed,No,No,Code Kentucky 23-24,Training Coordinator (Part-Time),2024-12-02,First ATP Placement - Already in Tech,...,No,Yes,No,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,2023-11-16 00:00:00
16,202307-12774,Male,White,Successfully Completed,No,No,Code Kentucky 23-24,Software Developer Intern,2024-10-14,First ATP Placement - New to Tech,...,No,Yes,No,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,2023-11-16 00:00:00
24,202308-13071,Male,White,Did Not Complete,No,No,Code Kentucky 23-24,Media Research Analyst,2024-08-01,First ATP Placement - Promotion,...,No,Yes,No,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided
15,202310-13680,Female,Asian,Successfully Completed,No,No,Code Kentucky 23-24,Financial Analyst,2024-09-15,First ATP Placement - New to Tech,...,No,No,No,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,2023-11-16 00:00:00
20,202310-13705,Male,Prefer Not To Say,Successfully Completed,No,No,Code Kentucky 23-24,Junior Analyst,2025-01-13,First ATP Placement - New to Tech,...,No,No,No,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided,Not Provided
26,202402-14719,Female,White,Successfully Completed,No,No,Code Kentucky 23-24,Digital Marketer,2024-06-01,First ATP Placement - Already in Tech,...,No,Yes,No,No,No,No,No,Not Provided,Not Provided,2024-04-22 00:00:00
23,202402-14804,Female,Black or African American; White,Successfully Completed,Yes,No,Code Kentucky 23-24,"Coordinator, Orthotics and Prosthetics Technology",2024-08-16,First ATP Placement - Promotion,...,No,No,No,No,No,No,No,Not Provided,Not Provided,2024-04-22 00:00:00
27,202402-14832,Male,White,Successfully Completed,Yes,No,Code Kentucky 23-24,PC Technician,2024-08-09,First ATP Placement - New to Tech,...,No,No,No,No,No,No,No,Not Provided,Not Provided,2024-04-22 00:00:00
29,202403-14970,Female,White,Successfully Completed,No,No,Code Kentucky 23-24,Clinical Systems Analyst,2024-12-02,First ATP Placement - New to Tech,...,No,No,No,No,No,No,No,Not Provided,Not Provided,2024-04-30 00:00:00
51,202406-15679,Male,White,Successfully Completed,No,No,Code Kentucky 24-25,Generative AI Developer,2025-05-21,First ATP Placement - New to Tech,...,No,No,No,No,No,No,No,Not Provided,Not Provided,2024-07-18 00:00:00
57,202406-16017,Male,White,Successfully Completed,No,No,Code Kentucky 24-25,Customer Service Representative,2025-03-24,First ATP Placement - New to Tech,...,No,Yes,No,No,No,No,Yes,No,No,2024-07-18 00:00:00
71,202410-17818,Male,White,Successfully Completed,No,No,Code Kentucky 24-25,Remote Telephone Service Representative,2025-04-21,First ATP Placement - New to Tech,...,No,Yes,No,No,No,No,No,Not Provided,Not Provided,2024-12-09 00:00:00
72,202412-19675,Female,White,Successfully Completed,No,No,Code Kentucky 24-25,Technology Associate,2025-06-01,First ATP Placement - Already in Tech,...,No,Yes,No,No,No,No,No,Not Provided,Not Provided,2024-12-30 00:00:00
70,202412-19753,Female,White,Successfully Completed,No,No,Code Kentucky 24-25,Office Manager,2025-05-19,First ATP Placement - New to Tech,...,No,No,No,No,No,No,No,Not Provided,Not Provided,2024-12-30 00:00:00

##### Adding enrollments

Self-explanatory.

In [11]:
fullest_df = pd.merge(fixed_df, enrollment_df, on="Auto ID", how="inner")

fullest_df

,Auto ID,Gender,Race,Outcome_x,Veteran,Justice Involved,Program Name,Job Title,Start Date,ATP Placement Type,...,Comfortably Read and Write in English?,Cultural barriers?,Single Parent,Displaced Homemaker,Spouse of Armed Forces Reduced Income,Loss of Family Support,Date Completed,KY Region,Service,Outcome_y
0,202203-7853,Male,White,Successfully Completed,No,No,Code Kentucky 22-23,Network Coordinator,2023-10-09,First ATP Placement - New to Tech,...,No,No,No,No,Not Provided,Not Provided,2022-03-01 00:00:00,SOAR,Salesforce,Successfully Completed
1,202203-7853,Male,White,Successfully Completed,No,No,Code Kentucky 22-23,Network Coordinator,2023-10-09,First ATP Placement - New to Tech,...,No,No,No,No,Not Provided,Not Provided,2022-03-01 00:00:00,SOAR,Software Development 2,Successfully Completed
2,202203-7853,Male,White,Successfully Completed,No,No,Code Kentucky 22-23,Network Coordinator,2023-10-09,First ATP Placement - New to Tech,...,No,No,No,No,Not Provided,Not Provided,2022-03-01 00:00:00,SOAR,Intro to Programming Core,Successfully Completed
3,202203-7853,Male,White,Successfully Completed,No,No,Code Kentucky 22-23,Network Coordinator,2023-10-09,First ATP Placement - New to Tech,...,No,No,No,No,Not Provided,Not Provided,2022-03-01 00:00:00,SOAR,Software Development M1,Successfully Completed
4,202203-7853,Male,White,Successfully Completed,No,No,Code Kentucky 22-23,Network Coordinator,2023-10-09,First ATP Placement - New to Tech,...,No,No,No,No,Not Provided,Not Provided,2022-03-01 00:00:00,SOAR,Software Development M2,Successfully Completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,202412-19675,Female,White,Successfully Completed,No,No,Code Kentucky 24-25,Technology Associate,2025-06-01,First ATP Placement - Already in Tech,...,No,No,No,No,Not Provided,Not Provided,2024-12-30 00:00:00,SOAR,Intro to Programming Core,Successfully Completed
105,202412-19675,Female,White,Successfully Completed,No,No,Code Kentucky 24-25,Technology Associate,2025-06-01,First ATP Placement - Already in Tech,...,No,No,No,No,Not Provided,Not Provided,2024-12-30 00:00:00,SOAR,Web Development M1,Partially Completed
106,202412-19753,Female,White,Successfully Completed,No,No,Code Kentucky 24-25,Office Manager,2025-05-19,First ATP Placement - New to Tech,...,No,No,No,No,Not Provided,Not Provided,2024-12-30 00:00:00,SOAR,Intro to Programming Core,Successfully Completed
107,202412-19753,Female,White,Successfully Completed,No,No,Code Kentucky 24-25,Office Manager,2025-05-19,First ATP Placement - New to Tech,...,No,No,No,No,Not Provided,Not Provided,2024-12-30 00:00:00,SOAR,Data Analysis M1,Successfully Completed
108,202412-19753,Female,White,Successfully Completed,No,No,Code Kentucky 24-25,Office Manager,2025-05-19,First ATP Placement - New to Tech,...,No,No,No,No,Not Provided,Not Provided,2024-12-30 00:00:00,SOAR,Data Analysis M2,Did Not Complete

##### To CSV

In [12]:
# fixed_df.to_csv("data/cleaned/employment_master.csv", index=False)