# Cleaning and Exploring the Demographics and Programs data

In [1]:
import pandas as pd
import numpy as np
import openpyxl

In [5]:
df = pd.read_excel('All demographics and programs.xlsx')

In [ ]:

def data_cleaning(demographics_clean):
    """
    This function drops the first name and last name columns since they don't have any names, 
    drops Single Parent column because only 1 row has 'No' and rest are null,
    drops Ethnicity Hispanic/Latino column because it is all null,
    drops Ex-Offender because only 1 row has No and the rest are null,
    combines values for Transgender M to F and F to M to the category 'Transgender' because there were only 16 that identifed M to F or F to M
    Splits the 'Race' column into 4 because it has 1st, 2nd, 3rd, and 4th levels of selection separated by ;,
    finally duplicate rows were dropped which also, conveniently, eliminated and duplicates for Auto ID
    """
    demographics_clean = df.drop(columns=['First Name','Last Name','Ethnicity Hispanic/Latino','Single Parent','Ex-Offender','Program: Program Name','Outcome'])
    demographics_clean['Gender'].str.replace('Transgender female to male','Transgender')
    demographics_clean['Gender'].str.replace('Transgender male to female','Transgender')
    splitting = demographics_clean['Race'].str.split(';', expand=True)
    splitting.columns = [f'Race_{i+1}' for i in range(splitting.shape[1])]
    demographics_clean = pd.concat([demographics_clean, splitting], axis=1)
    demographics_clean = demographics_clean.drop(columns=['Race'])
    demographics_clean = demographics_clean.drop_duplicates()
    return(demographics_clean)

demographics_clean = data_cleaning(df)

In [10]:
demographics_clean.head()

,Auto Id,Gender,Veteran,Justice Involved,Race_1,Race_2,Race_3,Race_4
0,202107-1206,Male,No,NaN,Black or African American,None,None,None
3,202108-5167,Male,No,No,Asian,None,None,None
4,202108-5171,Male,NaN,NaN,Black or African American,None,None,None
5,202108-5172,Female,NaN,NaN,White,None,None,None
6,202107-1208,Female,NaN,NaN,Black or African American,None,None,None

In [ ]:
# 2 remaining questions:
# what does 'not applicable' mean for 'Veteran' column
# what does 'Justice Involved' column mean?